@import "tailwindcss";

@theme{
  --font-heading: 'Inter', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --font-logo: 'Montserrat Underline', sans-serif;
  --color-primary: #DB4444;
  --color-buttonGreen: #00FF66;
}

h2{
  @apply text-5xl font-semibold leading-12 tracking-[4%] font-heading text-black;
}
h3{
  @apply text-4xl font-semibold leading-12 tracking-[4%] font-heading text-black;
}
